<header>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <img src="./css/assets\img\Isologo COLOR.svg"
                    alt="Logo De Soul Room Estudio.La letra o es un vinilo.">
            </div>
            <div class="main_list">
                <ul class="nav-links">
                    <li><a class="azul" href="#">Estudio</a></li>
                    <li><a class="rosa" href="/store">Tienda</a></li>
                    <li><a class="azul" href="#">Blog</a></li>
                    <li><a class="rosa" href="#">Contacto</a></li>
                </ul>
            </div>
            <span class="nav-trigger">
                <div></div>
                <div></div>
                <div></div>
            </span>
        </div>
    </nav>
</header>