<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./css/assets\img\favicon.ico">
    <title>Soul Room</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/mediaQueries.css">
    <script defer src="./js/index.js"></script>
</head>

<body>
    <%- include('./partials/header') %>
    <main class="hero">
        <div class="box">
            <div class="cuadrado"></div>
            <div class="text">
                <h1>Lorem Ipsum</h1>
                <p>Lorem, ipsum
                    dolor sit amet consectetur adipisicing elit. Accusamus, incidunt?ipsum
                    adipisicing elit. Rem pariatur molestias alias
                    ratione dolore deserunt aperiam harum quaerat sunt quidem. ipsum dolor sit amet consectetur
                    adipisicing elit. Libero, cum! ipsum dolor,
                    sit amet consectetur adipisicing elit. Facilis dicta molestias veritatis aut recusandae, nulla id
                    assumenda modi sit facere?, ipsum dolor sit amet consectetur adipisicing elit. Nihil, voluptates.
                    Tempore soluta ab maiores autem, magni iure dolorum cum qui repellat porro.</p>
            </div>
        </div>
    </main>

</body>

</html>