<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Room</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>
<nav class="nav">
    <div class="container">
        <div class="logo">
            <img src="./css/assets\img\Isologo COLOR.svg" alt="Logo De Soul Room Estudio.La letra o es un vinilo.">
        </div>
        <div id="main-list-div" class="main_list">
            <ul class="nav-links">
                <li><a href="#">Estudio</a></li>
                <li><a href="/store">Tienda</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <span class="nav-trigger display-none">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>




<body>

    <main class="hero">
        <div class="box">
            <div class="cuadrado"></div>

            <div class="text">
                <h1>Lorem Ipsum</h1>
                <p>Lorem, ipsum
                    dolor sit amet consectetur adipisicing elit. Accusamus, incidunt?ipsum
                    adipisicing elit. Rem pariatur molestias alias
                    ratione dolore deserunt aperiam harum quaerat sunt quidem. ipsum dolor sit amet consectetur
                    adipisicing elit. Libero, cum! ipsum dolor,
                    sit amet consectetur adipisicing elit. Facilis dicta molestias veritatis aut recusandae, nulla id
                    assumenda modi sit facere?, ipsum dolor sit amet consectetur adipisicing elit. Nihil, voluptates.
                    Tempore soluta ab maiores autem, magni iure dolorum cum qui repellat porro.</p>
            </div>



        </div>
    </main>

</body>

</html>