@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:ital,wght@1,300&display=swap");

@font-face {
  font-family: "Eurostyle";
  font-weight: 400;
  src: url("./fonts/eurostile.woff2") format("woff2"),
    url("./assets/fonts/eurostile.woff") format("woff");
}
@font-face {
  font-family: "Eurostyle";
  font-weight: 700;
  src: url("./assets/fonts/EurostileBold.ttf");
}
@font-face {
  font-family: "Eurostyle";
  font-weight: 400;
  font-style: oblique;
  src: url("./assets/fonts/EurostileOblique.ttf");
}
@font-face {
  font-family: "Eurostyle Extended";
  font-weight: 400;
  src: url("./assets/fonts/EurostileExtended.ttf");
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #5fbfb8;
  --secondary-color: #faacb9;
  --base-color: #000000;

  --nav-h: 100px;
}
html{
    max-width: 100%;
}
body {
  min-height: 100vh;
  
}
.nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--nav-h);
}
.container {
  background-color: var(--base-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.nav-links {
  font-size: 2.5rem;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  list-style-type: none;
  color: white;
  text-align: center;
  display: flex;
  gap: 2em;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-family: "Eurostyle", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-trigger{
 display: none;

}

.logo img {
  width: 50%;
  padding-left: 10px;
}


.hero {
  background-color: rgba(0, 0, 0, 0.638);
  background-image: linear-gradient(
    400deg,
    var(--secondary-color),
    black,
    var(--primary-color)
  );
  background-blend-mode: darken;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.box {
  margin-bottom: 2rem;
  padding: 3rem;
  min-height: 60vh;
  width: 90vw;
  background-color: #000000;
  border-radius: 40px;
  display:grid;
  grid-template-columns: 2fr 5fr;
  gap:2rem;
}
.cuadrado {
  
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 20px;
}
.text {
  flex: 1;
  color: white;
  font-size: clamp(1rem, 4vw, 2.5rem);
  text-align: start;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
.text h1 {
  font-size: 1.2em;
  font-family: "Eurostyle", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 700;
}


@media (orientation: portrait) {
  .box{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width:819px){
  .container{
    position: relative;
  }
  .main_list{
    position:absolute;
    top:100%;
    right:10%;
    opacity:0;
    transform: translateX(150%);
    transition: transform .8s cubic-bezier(.55,.12,.45,1.49),
                opacity .8s ;
  }
  .main_list.expand{
    transform: translateX(0%);
    opacity:1;
  }
  .main_list.expand .nav-links li:nth-child(1){
    animation: rotateX 300ms 60ms ease-in-out forwards;
    transform-origin: top center;
  }
  .main_list.expand .nav-links li:nth-child(2){
    animation: rotateX 300ms calc(60ms * 2) ease-in-out forwards;
    transform-origin: top center;
  }
  .main_list.expand .nav-links li:nth-child(3){
    animation: rotateX 300ms calc(60ms * 3) ease-in-out forwards;
    transform-origin: top center;
  }
  .main_list.expand .nav-links li:nth-child(4){
    animation: rotateX 300ms calc(60ms * 4) ease-in-out forwards;
    transform-origin: top center;
  }
  .nav-links{
    position:relative;
    flex-direction: column;
    gap:0;
    justify-content: center;
    background-color: #000000e1;
    border: 3px solid var(--secondary-color);
    border-radius: 30px;
    padding: 2rem;
  }
  .nav-links::before{
    content:"";
    position:absolute;
    top: -18px;
    right: 15%;
    transform:rotate(-45deg);
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--secondary-color);
  }
  .nav-links li{
    padding:.5rem;
  }
  .nav-links li:not(:last-child){
    border-bottom: 1px solid var(--primary-color);
  }
 
  .nav-trigger{
    --line-h:6px;
    display:block;
    width: 60px;
    height: 40px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor:pointer;
  }
  .nav-trigger div{
    background-color: var(--primary-color);
    width: 50%;
    height:var(--line-h);
    border-radius: 15px;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  .nav-trigger div:nth-child(2){
    width: 100%;
    background-color: var(--secondary-color);
  }
  .nav-trigger div:nth-child(3){
    width:75%;
  }

  .nav-trigger.clicked div{
    transform-origin:bottom;
    transform:rotatez(45deg) translate(7px,0px)
  }

  .nav-trigger.clicked div:nth-child(2){
    transform-origin:top;
    transform:rotatez(-45deg)
  }
  .nav-trigger.clicked div:nth-child(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(27px,-6px) rotatez(45deg);
  }

  
 
}





@keyframes rotateX {
  0% {
      opacity: 0;
      transform: rotateX(-90deg);
  }
  50% {
      transform: rotateX(-20deg);
  }
  100% {
      opacity: 1;
      transform: rotateX(0deg);
  }
}
